/**
 * @file
 * Element help styles.
 */

.webform-element-help {
  display: inline-block;
  box-sizing: content-box;
  border: 2px solid #bbb;
  background: #bbb;
  line-height: 14px;
  height: 14px;
  width: 14px;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  vertical-align: baseline;
  margin: 0 .3em;
}

.webform-element-help:focus,
.webform-element-help:active,
.webform-element-help:hover {
  border: 2px solid #0074bd;
  background: #0074bd;
  color: #fff;
  cursor: help;
}

.ui-tooltip.webform-element-help--tooltip {
  max-width: 400px;
}

.webform-element-help--title {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 0 .2em 0;
}
