/**
 * @file
 * Element details toggle all styles.
 *
 * @see /webform/test_form_details_toggle
 */

.webform-details-toggle-state-wrapper {
  text-align: right; /* LTR */
}
[dir="rtl"] .webform-details-toggle-state-wrapper {
  text-align: left;
}

.webform-details-toggle-state-wrapper {
  margin-top: 1em;
}

.webform-details-toggle-state-wrapper + details {
  margin-top: 0;
}

.webform-details-toggle-state {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-top: 0;
  padding: 0;
  font-size: 1em;
}

/* Tweak details toggle state. */
.webform-details-toggle-state {
  color: #337ab7;
  text-decoration: none;
}

.webform-details-toggle-state:hover,
.webform-details-toggle-statelink:focus {
  text-decoration: underline;
}
