/**
 * @file
 * Element help styles.
 */

.webform-element-help {
  display: inline-block;
  line-height: 1em;
  width: 1em;
  background: #0074bd;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  margin: 0 .2em;
}

.webform-element-help:link,
.webform-element-help:visited {
  border: 2px solid #0074bd;
  background: #0074bd;
  color: #fff;
}

.webform-element-help:focus,
.webform-element-help:active,
.webform-element-help:hover {
  border: 2px solid #31708f;
  background: #31708f;
  color: #fff;
}
