/* $Id$ */

.webform-submission-navigation {
  text-align: right;
}
.webform-submission-next {
  margin-left: 20px;
}
.webform-indentation {
  width: 20px;
  float: left;
}
.webform-default-value {
  color: #999;
}
